services:
  mongodb:
    image: mongo:latest
    ports:
      - "27027:27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=${MONGO_DB_NAME:-hive_db}
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_ROOT_USERNAME:-admin}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_ROOT_PASSWORD}
  backend:
    build: ./backend
    environment:
      - PYTHONUNBUFFERED=1
      - MONGO_URI=mongodb://${MONGO_ROOT_USERNAME:-admin}:${MONGO_ROOT_PASSWORD}@mongodb:27017/
      - MONGO_DB_NAME=${MONGO_DB_NAME:-hive_db}
      - FLASK_ENV=${FLASK_ENV:-development}
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
    depends_on:
      - mongodb

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - REACT_APP_API_BASE_URL=http://localhost:5000
      - REACT_APP_DOCKER=true
    depends_on:
      - backend

volumes:
  mongodb_data: