services:
  mongodb:
    image: mongo:latest
    ports:
      - "27027:27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=hive_db
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=hivepass123
  backend:
    build: ./backend
    environment:
      - PYTHONUNBUFFERED=1
      - MONGO_URI=mongodb://admin:hivepass123@mongodb:27017/
      - MONGO_DB_NAME=hive_db
      - FLASK_ENV=development
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
    depends_on:
      - mongodb

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
    depends_on:
      - backend

volumes:
  mongodb_data: