services:
  backend:
    build: ./backend
    environment:
      - PYTHONUNBUFFERED=1
      - MONGO_URI=mongodb+srv://TestUser:TestPassword@clusterm0.zrr90.mongodb.net/?retryWrites=true&w=majority&tls=true&appName=ClusterM0
      # development / production
      - FLASK_ENV=development
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
    depends_on:
      - backend
